#particles-js {
  background-image: url("../img/particle_background.jpg");
  height: 100vh;
}

.jumbotron {
  width: 24%;
  background: #f9f9f9;
  display: block;
  position: absolute;
  left: 63%;
  top: 18%;
  border-radius: 4px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 60px;
  opacity: 0.8;
  height: 42%;
}

.signup {
  width: 24%;
  background: #f9f9f9;
  display: block;
  position: absolute;
  left: 63%;
  top: 9%;
  border-radius: 4px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 60px;
  opacity: 0.8;
  height: 79%;
}

.signup h1 {
  font-size: 30px;
  text-align: center;
  color: #525252;
}

.jumbotron h1 {
  font-size: 30px;
  text-align: center;
  color: #525252;
}

.login-area p {
  text-align: center;
  font-size: 14px;
  margin-top: -8px;
  /* text-decoration: underline; */
}

.field {
  margin-bottom: 15px;
  width: 100%;
}

.field input {
  display: block;
  margin: 0;
  color: #333;
  border: 1px solid #dadada;
  border-radius: 0;
  /*	box-shadow: none;*/
}

.field input:active,
.field input:visited,
.field input:focus,
.field input:visited {
  box-shadow: none;
}

.form-actions {
  width: 100%;
  float: left;
}

.form-actions .reset-option {
  font-size: 13px;
  position: absolute;
  /*	border: 5px solid;*/
  padding-top: 10px;
  padding-left: 5px;
}

.btn-login {
  float: right;
  background: transparent;
  color: black;
  font-weight: 450;
  margin-right: 10px;
  box-shadow: none;
  border-radius: 0%;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:visited {
  box-shadow: none;
  border-radius: 0%;
}

/* below login section */
.below-login {
  position: absolute;
  left: 68%;
  top: 56%;
  /*	width: 300px;*/
  /*	margin: 1.5em auto;*/
  color: black;
  font-size: 14px;
}

.below-login a {
  color: green;
}

.signup-below {
  position: absolute;
  left: 68%;
  top: 84%;
  color: black;
  font-size: 14px;
}
